<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="teal">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">📚 Show Book</a>
        </div>
    </nav>
    <!-- Main Content -->
     <div class="container bottomMargin">
        <div class="card">
            <div class="card content">
                <p><strong>Title:</strong></p><%= book.title %>
                <p><strong>Author:</strong></p><%= book.author %>
            </div>
            <div class="card-action">
                <a href="" class="btn waves-effect waves-light teal">Edit</a>
                <button class="btn red waves-effect waves-light">Delete</button>
        </div>
     </div>
</body>
</html>