<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="red darken-2">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">📚 Library</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container center-align" style="margin-top: 50px;">
        <h1 class="red-text text-darken-2">404 - Not Found</h1>
        <p class="flow-text">The requested resource could not be found.</p>
        <a href="/" class="btn waves-effect waves-light red darken-2">Go Home</a>
    </div>

</body>


</html>